@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scroll */
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --bg-main: #ffffff;      /* 60% */
  --bg-card: #f8f9fa;
  --text-main: #111111;    /* 30% */
  --text-muted: #6b7280;
  --accent: #facc15;       /* 10% */
  --border: #e5e7eb;
}

.dark {
  --bg-main: #0a0a0a;
  --bg-card: #111111;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --accent: #facc15;
  --border: #1f2937;
}
.input-style {
  @apply w-full bg-transparent border rounded-2xl p-3 text-base focus:ring-2 focus:ring-accent outline-none;
}
